@model NiazRooz.DTO.ForgotPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}
<link href="~/Login/Login.css" rel="stylesheet" />

<div class="container forgot-container">
    <div id="login-box" class="login-box visible widget-box no-border">
        <div class="widget-body">
            <div class="widget-main text-center">
                <h4 class="header red lighter bigger">
                    <i class="icon-key"></i>
                    بازیابی رمز عبور
                </h4>

                <div class="space-6"></div>
                <p>
                    ایمیل خود را وارد کنید
                </p>

                @if (ViewBag.IsSuccess != null)
                {
                    <div class="alert alert-success">
                        <p class="help-block">ایمیل بازیابی کلمه عبور برای شما ارسال شد</p>
                    </div>


                }
                <form asp-action="ForgotPassword" method="post">

                    <fieldset>

                        <label>
                            <span class="block input-icon input-icon-right">
                                <input id="emailforforget" asp-for="Email" type="email" class="span12" placeholder="ایمیل" >
                                <i class="icon-envelope"></i>
                            </span>
                        </label>
                        <span class="red" asp-validation-for="Email"></span>

                        <div class="clearfix">
                            <button id="btnForget" class="width-35 pull-right btn btn-small btn-danger">
                                <i class="icon-lightbulb"></i>
                                تایید وارسال
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div><!--/widget-main-->

            <div class="toolbar center">
                <a href="/Login" onclick="show_box('login-box'); return false;" class="link white" >
                    برکشت به صفحه ورود
                    <i class="icon-arrow-right"></i>
                </a>
            </div>
        </div><!--/widget-body-->
    </div><!--/forgot-box-->
</div>