@model NiazRooz.DTO.ResetPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<div class="container reset-container">
    <div id="login-box" class="login-box visible widget-box no-border">
        <div class="widget-body">
            <div class="widget-main text-center">
                <h4 class="header red lighter bigger">
                    <i class="icon-key"></i>
                    بازیابی رمز عبور
                </h4>
                <form asp-action="ResetPassword" method="post">

                    <fieldset>

                        <label>
                            <span class="block input-icon input-icon-right">
                                <input asp-for="Password" type="password" class="span12" placeholder="رمز عبور ">
                                <i class="icon-lock"></i>
                            </span>
                        </label>
                        <label>
                            <span class="block input-icon input-icon-right">

                                <input asp-for="RePassword" type="password" class="span12" placeholder="تکرار رمز عبور ">
                                <i class="icon-retweet"></i>
                            </span>
                        </label>
                        <div asp-validation-summary="All" class="red">

                        </div>
                        <div class="clearfix">
                            <button id="btnForget" class="width-35 pull-right btn btn-small btn-danger">
                                <i class="icon-lightbulb"></i>
                                تایید وارسال
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div><!--/widget-main-->

            <div class="toolbar center">
                <a href="/Login" onclick="show_box('login-box'); return false;" class="back-to-login-link">
                    برکشت به صفحه ورود
                    <i class="icon-arrow-right"></i>
                </a>
            </div>
        </div><!--/widget-body-->
    </div><!--/forgot-box-->
</div>  