@model NiazRooz.DTO.ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/">نیاز روز</a>

            <span class="divider">
                <i class="icon-angle-right arrow-icon"></i>
            </span>
        </li>
        <li>
            <a href="/Userpanel">پنل کاربری</a>

            <span class="divider">
                <i class="icon-angle-right arrow-icon"></i>
            </span>
        </li>
        <li class="active">تغییر کلمه عبور</li>
    </ul><!--.breadcrumb-->

    <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <input type="text" placeholder="Search ..." class="input-small nav-search-input" id="nav-search-input" autocomplete="off" />
                <i class="icon-search nav-search-icon"></i>
            </span>
        </form>
    </div><!--#nav-search-->
</div>
<br />
<div class="page-content">
    <div class="row-fluid">
        <div class="span12">
            <!--PAGE CONTENT BEGINS-->
            <div class="span9">

                <div id="user-profile-3" class="user-profile row-fluid">
                    <div class="offset1 span10">
                        <form asp-action="ChangePassword" method="post">
                            <div class="tabbable">
                                <ul class="nav nav-tabs padding-16">
                                    <li >
                                        <a href="/UserPanel">
                                            <i class="orange icon-laptop bigger-125"></i>
                                            پنل کاربری
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/EditProfile">
                                            <i class="green icon-edit bigger-125"></i>
                                            ویرایش حساب کاربری
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="/ChangePassword">
                                            <i class="blue icon-key bigger-125"></i>
                                            تغییر کلمه عبور
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/ChangeProfileImage">
                                            <i class="red icon-edit-sign bigger-125"></i>
                                            تغییر تصویر کاربری
                                        </a>
                                    </li>
                                </ul>
                                @if (ViewBag.IsSuccess != null)
                                {
                                    <div class="alert alert-success">
                                        کلمه عبور شما با موفقیت ویرایش شد
                                    </div>
                                }

                                <div class="tab-content profile-edit-tab-content">
                                    <div id="edit-password" class="tab-pane active">
                                        <div class="space-10"></div>
                                        <div class="control-group">
                                            <label class="control-label" for="form-field-pass1">کلمه عبور فعلی</label>
                                            <div class="controls">
                                                <input type="password" class="form-control" asp-for="OldPassword" placeholder="کلمه عبور فعلی" aria-describedby="username">
                                            </div>
                                            <span class="red" asp-validation-for="OldPassword"></span>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="form-field-pass1">کلمه عبور جدید</label>
                                            <div class="controls">
                                                <input id="form-field-pass1" type="password" class="form-control" asp-for="Password" placeholder="کلمه عبور جدید" aria-describedby="email-address">
                                            </div>
                                            <span class="red" asp-validation-for="Password"></span>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label" for="form-field-pass2">تکرار کلمه عبور</label>
                                            <div class="controls">
                                                <input id="form-field-pass2" type="password" class="form-control" asp-for="RePassword" placeholder="تکرار کلمه عبور جدید" aria-describedby="email-address">
                                            </div>
                                            <span class="red" asp-validation-for="RePassword"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-actions">
                                <button class="btn btn-info" type="submit">
                                    <i class="icon-ok bigger-110"></i>
                                    تغییر کلمه عبور
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="icon-undo bigger-110"></i>
                                    تنظیم مجدد
                                </button>
                            </div>
                        </form>
                    </div><!--/span-->
                </div><!--/user-profile-->

            </div>
            <div class="span3 center">
                <partial name="_UserPanelControlSidBar" />
            </div>
            <!--PAGE CONTENT ENDS-->
        </div><!--/.span-->
    </div><!--/.row-fluid-->
</div><!--/.page-content-->
