

<nav id="colorforlayout" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class=" navbar-brand " id="titleColor" href="/" >نیاز روز</a>
    </div>
    <!-- /.navbar-header -->

    <div id="navbarsidebarcolor" class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav hovercolor" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li class="sidebar-search">
                    <div>
                        <a href="/admin/ListUsers" class="sidebartextcolor">
                            <i class="fa fa-table fa-fw"></i>
                            <b>
                                کاربران
                            </b>
                        </a>
                    </div>
                </li>
                <li class="sidebar-search">
                    <div>
                        <a href="/Admin/Roles" class="sidebartextcolor">
                            <i class="fa fa-ruble fa-fw"></i>
                            <b>
                                دسترسی ها
                            </b>
                        </a>
                    </div>
                </li>

                <li class="sidebar-search">
                    <div>
                        <a href="/admin/ListDeleteUsers" class="sidebartextcolor">
                            <i class="fa fa-trash-o fa-fw"></i>

                            <b>
                                کاربران حذف شده
                            </b>
                        </a>
                    </div>
                </li>
            </ul>
            <div>
                <br />            <br />
                <br />            <br />
                <br />            <br />
                <br />            <br />
                <br />            <br />
                <br />            <br />
                <br />            <br />
                <br />            <br />
                <br />            <br />
                <br />            <br />
                <br />            <br />
                <br />            <br />
                <br />            <br />
                <br />            <br />
            </div>

            <!-- /#side-menu -->
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
